.DS_Store
Census\ Tract/
build/
dist/
logs/
output_tier1/
tucson_*
resources/pums
resources/outputs
master.log
nbproject/build-impl.xml
nbproject/genfiles.properties
nbproject/private/private.properties
nbproject/private/private.xml
logsmaster.log
