.DS_Store
Census\ Tract/
build/
dist/
logs/
output_tier1/
tucson_*
resources/pums
resources/outputs
master.log
/nbproject/
logsmaster.log
resources/config.properties
nbproject/project.properties
outputs/
resources/outputs.backup